.vl {
    border-left: 4px groove rgba(0, 0, 0, 0.247);
    height: 500px;
    position: fixed;
    height: 100vh;
    left: 70%;
    margin-left: -3px;
    position: absolute;
    z-index: 0;
    top: 6.3%;
}

.header{
    background-color: #1da1f2;
    padding: 8px;
    position: absolute;
    width: 100vw;
    height: 7vh;
    z-index: 1;
}

.margin-top {
    margin-top: 8vh;
}

.tweets{
    margin-top: 2%;
    margin-left: 40%;
}

.row-style{
    margin-top: 2%;
    margin-left: 10px;
}

